/3. Java/Tp/dist/
/3. Java/Assignment_Manager/nbproject/private/
/3. Java/Assignment_Manager/build/
/3. Java/ Library_Management_System/nbproject/private/
/7. Web with Java/Codes/ServletDemo/nbproject/private/
/7. Web with Java/Codes/ServletDemo/build/
/7. Web with Java/Codes/WebApplication1/nbproject/private/
/7. Web with Java/Codes/WebApplication1/build/
/7. Web with Java/Codes/ServletDemo/dist/
/7. Web with Java/Codes/JspDemo/nbproject/private/
/7. Web with Java/Codes/JspDemo/build/
/7. Web with Java/Codes/PlacementPortal/nbproject/private/
/7. Web with Java/Codes/PlacementPortal/build/
/7. Web with Java/Codes/PlacementPortal/dist/
/7. Web with Java/Codes/Hibernate/nbproject/private/
/7. Web with Java/Codes/Hibernate/dist/
/7. Web with Java/Codes/Hibernate/build/
