table,td,th{
    border: 1px inset red;
    padding: 2px;
}

table{
    margin: 20px;
    padding: 20px;
}

.box{
    background-color: aquamarine;
    width: 30vw;
    padding: 10px 0;
    margin: auto;
}

.iagree{
    margin-right: 10px;
}

input[type='email']{
    background-color: yellow;
}
