<?xml version="1.0" encoding="UTF-8"?>
<!--<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">-->
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <context-param>
        <param-name>trainer</param-name>
        <param-value>Anup Sir</param-value>
    </context-param>
    <context-param>
        <param-name>institute</param-name>
        <param-value>CDac</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>OnlineShop</servlet-name>
        <servlet-class>session.OnlineShop</servlet-class>
            <init-param>
            <param-name>laptop</param-name>
            <param-value>50000</param-value>
            </init-param>
            <init-param>
                <param-name>mobile</param-name>
                <param-value>20000</param-value>
            </init-param>
            <init-param>
                <param-name>pillow</param-name>
                <param-value>500</param-value>
            </init-param>
            <init-param>
                <param-name>mobile_cover</param-name>
                <param-value>100</param-value>
            </init-param>
            <init-param>
                <param-name>bike</param-name>
                <param-value>70000</param-value>
            </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>ServletLife</servlet-name>
        <servlet-class>ServletLifeCycle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>contextConfig.Servlet1</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Ramesh</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Rampur</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>contextConfig.Servlet2</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Suresh</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Solapur</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLife</servlet-name>
        <url-pattern>/Life</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Basic</servlet-name>
        <servlet-class>concept.BasicConcept</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic</servlet-name>
        <!--    Internal Alliase-->
        <url-pattern>/concept</url-pattern>
        <!--    External Alliase-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>shopping.html</welcome-file>
    </welcome-file-list>
</web-app>
